body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px;
}
#title  {
    margin: 0px 100px;
    padding: 20px;
}
#calculator {
    /* display: flex; */
    background-color: black;
    color: white;
    width: 500px;
    margin: 0px 100px;
    padding: 10px; 
}
.number, .operator {
    background-color: #f20089;
    color: white;
    border: 1px solid white;
    width: 20px;
    height: 40px;
    margin: 5px;
    /* padding: 20px; */
}
#equals {
    background-color: #f20089;
    color: white;
    width: 464px;
    border: 1px solid white;
    margin-left: 13px;
}
.row    {
    width: 150px;
    padding: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
#display    {
    margin: 10px;
    background-color: white;
    color: black;
    width: 464px;
    height: 50px;
}
#btn-rows   {
    display: flex;
    flex-direction: row-reverse;
}